/* === base.css === */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    font-family: STSong, 'Songti SC', 'Noto Serif CJK SC', 'Source Han Serif SC', serif;
    min-height: 100vh;
}
